@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(221, 221, 221);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo{
    background-color: rgb(16, 61, 92) ;
    height: 500px;
    width: 300px;
    border-radius: 25px;
    padding: 60px 25px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.tela{
    background-color: blueviolet;
    grid-column: 1/-1;  
}

.teclas h3{
    color: beige;
}

